*{ margin:0; padding:0; box-sizing:border-box; 
}

body{
font-size: 62.5%;
font-family: 'Quicksand', sans-serif;
}

/*nav-bar*/

.mynav{
    position: sticky;
    top: 0;
    z-index: 2;
    opacity:0.9;
    height: 20px;
}



.navbar{
    background:lightgrey;
}

.nav-link{
    font-size: 1rem;
}

.navbar .navbar-brand{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 auto;
}

.img-tittle{
    display: none;
}

.tittle-pc{
    display: none;
}
/*img*/

.img-header{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

/* chevron top */


    /*img*/

.img-header{
    width: 100%;
    height: 400px;
    display: block;
    margin-top: 40px;
}

/* chevron top */

.dash{
    margin-top: 20px;
    display:block;
    text-align: center;
}
.chevron{
    height: 70px;
    width: 70px;
    color: black;

}

.chevron:hover{
    opacity: 0.8;
    height: 80px;
    color:lightblue;

}


.chevron:hover{
    opacity: 0.8;
    height: 80px;
    color:lightblue;

}
.tittle-main{
    height: 50px;
    width: 100%;
}

h1{
    text-align: center;
    display: table;
    white-space: nowrap;
    text-align: center;
  }
  h1:before, h1:after {
    content: "";
    display: table-cell;
    width: 50%;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=) repeat-x left center;
  }





        /* main */  

h2{
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: lightsalmon;
    padding: 20px;
}

h2:hover{
    color: white;
    background: lightsalmon;
}

.dash-form{
    color:black;
    position: absolute;
    right: 40px;
    top: 72px;
}

.description{
    position: relative;
}




h3{
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    background:lightgrey;
}

.tarif p{
    text-align: center;
    font-size: 1rem;
    padding: 20px;
}

.description h4{
    text-align: center;
}



.description ul{
    font-size: 1rem;
}

.description li{
    padding: 10px;
}

h2 a{
    text-decoration: none;
    color:lightcoral;
}
h2 a:hover{
    color: white;
}

.icon-event{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
}

.icon-event a{
    color: black;
}



        /* formulaire */

form {
    max-width: 100%;
    text-align: center;
    font-size: 1rem;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

label.inline-label {
    display:block;
}

fieldset {
    background-color: lightskyblue;
}

legend {
    font-style: italic;
    padding: 5px;
}

form input, form select {
    display: inline-block;
    padding: 10px;
    width: 80%;
}


button[type=submit] {
    font-size: 0.9rem;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.civilité{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}
.homme{
    margin-right: 50px;
}
label{
    font-size: 1rem;
}

fieldset button:hover{
    background: white;
}

/* MAP */

.map{
    width: 100%;
    height: 200px;
}




/*FOOTER*/

footer{
    position: relative;
    text-align: center;
    color: white;
    height: 250px;
    width: 100%;
    background: #333333;
}

.h4{
    margin: 50px;
    font-size: 1.4rem;
}



.mentions{
    margin-top: 10px;
}

.link{
    margin-top: 50px;
}

.footer-link{
    font-size: 1rem;
    text-decoration:none;
    color: white;
    padding: 10px;
}

.footer-link:hover{
    color: lightskyblue;
}

/* Chevron-up */

.dash-up{
    height: 100px;
    width: auto;
    position: relative;
}

.chevron-up{
    color: white;
    height: 70px;
    width: 70px;
    left: 45%;
    margin-top : 30px;
}

.chevron-up:hover{
    opacity: 0.8;
    margin-top: 20px;
    height: 80px;
    color: lightskyblue;
}

.link-social{
    display: none;
}
.stars{
    display: none;
}
.sticky-don{
    display: none;
}

@media only screen and (min-width : 768px) and (max-width : 1024px){

    body{
        background:#fcf9f9;
    }
    .body-tablet{
        margin-top: 50px;
        margin-left:auto;
        margin-right: auto;
        height: 100%;
        width: 85%;
        background: white;
        margin-bottom: 50px;
    }
        /* nav-bar */

    .navbar{
        width: 100%;
        margin-top: 50px;
        position: sticky;
        top: 0;
    }

        /* img-header */

    .img-header{
        height: 500px;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    .dash-form{
        color:black;
        position: absolute;
        right: 100px;
        top: 72px;
    }

    /* Main */

    .box-img-fox{
        position: relative;
    }

    .fox{
        display: block;
        width: 80px;
        height: 60px;
        position: absolute;
        right: 20px;
        bottom: 5px;
    }

    /* MAP*/

    .map{
        height: 500px;
    }
}

@media only screen and (min-width : 1024px){
    body{
        background:#fcf9f9;
    }

    .body-tablet{
        margin-left:auto;
        margin-right: auto;
        height: 100%;
        width: 75%;
        background: white;
        margin-bottom: 50px;
    }

    .img-tittle{
        height: 50px;
        width: 80px;
        display: initial;
    }

    .navbar{
        position: sticky;
        top: 0;
        position: absolute;
        left: auto;
        width: 100%;
        background: rgba(223, 223, 223, 0.767);
        height: 100px;
    }
    
    .navbar .navbar-nav{
        margin: 0 auto;
    }
    .nav-link{
        margin:0 20px 0 60px;
    }

    .tittle-pc{
        display:inline;
        left: 7.5%;
        position: absolute;
    }




    /* img-header*/

    .img-header{
        height: 700px;
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 79px;
    }

    .link-social{
        position: absolute;
        display: block;
        left: 19%;
        top: 250px;


    }
    
    .img-social{
        width: 50px;
        display: block;
        border-radius: 50%;
        padding: 5px 0 20px 0;
    }

    .img-social:hover{
        transform: translate3d(0px,-19px,0);
        transition: transform .5s cubic-bezier(.200,.57,.20,2) 0s,opacity .4s linear .1s,visibility 0s linear .5s;
    }

    /* DON Header */
    
    .don{
        top: 50px;
        right: 150px;
        position: absolute;
        width: 200px;
        height: 200px;
        text-align: center;
        border-radius: 50%;
        text-decoration: none;
        background-size: cover;
        background: rgba(255, 0, 0, 0.884);
        }
    
    .don-txt{
        font-weight: bold;
        color: white;
        margin-top: 50px;
        font-size: 1.5rem;
        line-height:30px;
        opacity: initial;
    }

    .sticky-don{
        top: 0;
        display: block;
        z-index: 2;
        position: sticky;
        bottom: 2px;
    }

    .size{
        font-size: 0.8rem;
        line-height: 3px;
    }

    .don:hover{
        transform: translate3d(0,-40px,0);
        transition: transform .5s cubic-bezier(.39,.575,.565,1) 0s,opacity .4s linear .1s,visibility 0s linear .5s;
    }

        /* Main */

    .box-img-fox{
        position: relative;
    }

    .fox{
        width: 100px;
        height: 80px;
        position: absolute;
        right: 20px;
        bottom: 5px;
    }
    
    .section-map-form{
        width: 100%;
        display: flex;
    }
    .section{
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .description p{
        text-align: center;
        font-size: 1rem;
        padding: 0 70px;
    }
    .tarif{
        width: 50%;
    }
    .tarif p{
        padding: 30px;
    }
    .vertical-line{
        border-left: 1px solid black;
        display: inline-block;
        height: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
      }
    .map{
        height: auto;
        width: 50%;
    }

    
    .formulaire{
        width: 50%;
    }
}